@font-face {
  font-family: "iconfont"; /* Project id 2667623 */
  src: url('iconfont.woff2?t=1630290331421') format('woff2'),
       url('iconfont.woff?t=1630290331421') format('woff'),
       url('iconfont.ttf?t=1630290331421') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baobiaoceshi:before {
  content: "\e6cf";
}

.icon-jichushujuguanli:before {
  content: "\e6d2";
}

.icon-miyuefuwu:before {
  content: "\e6d4";
}

.icon-baiduAIguanli:before {
  content: "\e6d5";
}

.icon-ziyangongzuoliu:before {
  content: "\e6d9";
}

.icon-dayinguanli:before {
  content: "\e6da";
}

.icon-jifeifuwu:before {
  content: "\e6db";
}

.icon-shenjiguanli:before {
  content: "\e6dc";
}

.icon-shijianguanli:before {
  content: "\e6dd";
}

.icon-pingtaizhili:before {
  content: "\e6de";
}

.icon-shujufenfa:before {
  content: "\e6df";
}

.icon-shiwuguanli:before {
  content: "\e6e0";
}

.icon-NLPneirongtiqu:before {
  content: "\e6e1";
}

.icon-gongzuoliushezhi:before {
  content: "\e6e2";
}

.icon-fuwubianpai:before {
  content: "\e6e3";
}

.icon-qianzhiji:before {
  content: "\e6e4";
}

.icon-baobiaopingtai:before {
  content: "\e6e5";
}

.icon-jiekoupingtai:before {
  content: "\e6e6";
}

.icon-tiaodufuwu:before {
  content: "\e6e7";
}

.icon-wenjianguanli:before {
  content: "\e6e8";
}

.icon-kaifaguanli:before {
  content: "\e6e9";
}

.icon-xiaoxiguanli:before {
  content: "\e6ea";
}

.icon-sanyuanguanli:before {
  content: "\e6eb";
}

.icon-shujumoxing:before {
  content: "\e6ec";
}

.icon-xitongguanli:before {
  content: "\e6ed";
}

.icon-renwuxietong:before {
  content: "\e6ee";
}

